<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/addPerson" METHOD="post">
    <fieldset>
        <legend>Personal information:</legend>
        First name:<br>
        <input type="text" name="firstname" value="first name"><br>
        Last name:<br>
        <input type="text" name="lastname" value="last name"><br><br>
        Birthdate:<br>
        <input type="text" name="birthdate" value="birthdate"><br><br>
        Contact Information: <br>
        <input type="text" name="workEmail" value="Work Email" >
        <input type="text" name="personalEmail" value="Personal email"><br><br>

        <input type="text" name="workPhone" value="work phone number" >
        <input type="text" name="personalPhone" value="personal phone number" ><br><br>

         Address: <br>
        <input type="text" name="street" value="street" ><br><br>

        <input type="text" name="city" value="city">

        <input type="text"  name="postalCode" value="postal code" >
        <input type="text" name="country" value="country"><br><br>


        <input type="submit" value="Submit">
    </fieldset>
</form>
</body>
</html>