<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Delete Person</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Task17</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/person">View People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/name/milk">Search by name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/id/1">Search by ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/number/23456">Search by number</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/delete">Delete Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/update/4">Update Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create Person</a>
            </li>
        </ul>
    </div>
</nav><br><br><br>
<h1>THIS IS THE DELETE PAGE</h1>

<form action="/deleting" METHOD="post">
    <p>Enter a name to search and delete</p>

    <div>
        <input type="text" name="searchField" id="">
    </div>
    </br>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>

</body>
</html>