<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Person</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Task17</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/person">View People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/name/milk">Search by name</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/id/1">Search by ID</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/number/23456">Search by number</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/delete">Delete Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/person/update/4">Update Person</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create Person</a>
            </li>
        </ul>
    </div>
</nav>
<body>

<h1>THIS IS THE UPDATE PAGE</h1>

<form action="/update" METHOD="post">
    <p>Search by using a name or last name ? </p>
    <input type="text"  name="searchField" > </br>

    <input type="submit" value="Submit">
</form>


</p>
</body>
</html>